<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <!-- Agrega el atributo (click) para cerrar el modal -->
  </div>
  
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="idUsuario">Id_Usuario</label>
            <input formControlName="idUsuario" type="text" class="form-control" id="idUsuario" placeholder="Ingrese el Identificador">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="username">Username</label>
            <input formControlName="username" type="text" class="form-control" id="username" placeholder="Ingrese el Username">
          </div>
          <div *ngIf="myForm.get('Username')?.errors && myForm.touched">
            //no olvidar agregar el small igneroe
            <span class="text-danger" *ngIf="myForm.get('Username')?.hasError('required')">Campo requerido</span>
          </div>
          
  
        
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input formControlName="password" type="text" class="form-control" id="password" placeholder="Ingrese el Password">
          </div>
          <div class="col-12 mt-3">
            <!-- Corrige la condición para verificar errores y si el formulario ha sido tocado -->
            <div *ngIf="myForm.get('Password')?.errors && myForm.get('Password')?.touched">
              <span class="text-danger" *ngIf="myForm.get('Password')?.hasError('email')">No cumple con el formato de Password</span>
            </div>
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="cargo">Cargo</label>
            <input formControlName="cargo" type="text" class="form-control" id="cargo" placeholder="Ingrese el tipo de Cargo">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="estado">Estado de Documento</label>
            <input formControlName="estado" type="text" class="form-control" id="estado" placeholder="Ingrese el número de Estado">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="idPersona">Id_Persona</label>
            <input formControlName="idPersona" type="text" class="form-control" id="idPersona" placeholder="Ingrese el número de teléfono">
          </div>
        </div>
  
        <!-- Botones para GUARDAR y CANCELAR -->
        <div class="col-6 mt-3">
          <!-- Asegúrate de que la función se llame correctamente en el evento (click) -->
          <button [disabled]="!myForm.valid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">GUARDAR</button>
        </div>
  
        <div class="col-6 mt-3">
          <button class="btn-block btn btn-danger btn-sm">CANCELAR</button>
        </div>
      </div>
  </div>
  