<div class="modal-header bg-white border-bottom-0">
  <h5 class="modal-title fw-bold text-primary">{{ title }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal(false)"></button>
</div>

<div class="modal-body pt-0">
  <form [formGroup]="myForm">
    <div class="row g-3 mt-1">

  

      <!-- Username -->
      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          id="username"
          placeholder="Ingrese el username"
        />
        <small class="text-danger" *ngIf="myForm.get('username')?.hasError('required') && myForm.get('username')?.touched">
          Campo requerido
        </small>
      </div>

      <!-- Password -->
      <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Ingrese la contraseña"
        />
        <small class="text-danger" *ngIf="myForm.get('password')?.hasError('required') && myForm.get('password')?.touched">
          Campo requerido
        </small>
      </div>

      <!-- Cargo -->
      <div class="col-12">
        <label for="cargo" class="form-label">Cargo</label>
        <input
          formControlName="cargo"
          type="text"
          class="form-control"
          id="cargo"
          placeholder="Ingrese el cargo"
        />
      </div>

      <!-- Estado -->
      <div class="col-12">
        <label for="estado" class="form-label">Estado</label>
        <input
          formControlName="estado"
          type="text"
          class="form-control"
          id="estado"
          placeholder="Activo / Inactivo"
        />
      </div>

      <!-- ID Persona -->
      <div class="col-12">
        <label for="idPersona" class="form-label">ID Persona</label>
        <input
          formControlName="idPersona"
          type="text"
          class="form-control"
          id="idPersona"
          placeholder="ID relacionado a persona"
        />
      </div>

      <!-- Botones -->
      <div class="col-md-6 d-grid mt-3">
        <button
          [disabled]="!myForm.valid"
          type="button"
          (click)="guardar()"
          class="btn btn-primary"
        >
          <i class="fas fa-save me-2"></i> Guardar
        </button>
      </div>

      <div class="col-md-6 d-grid mt-3">
        <button type="button" class="btn btn-outline-danger" (click)="cerrarModal(false)">
          <i class="fas fa-times me-2"></i> Cancelar
        </button>
      </div>

    </div>
  </form>
</div>
