<!-- Campo de clientes -->
<div class="container">
  <!-- Formulario para seleccionar el tipo de filtrado y el campo de búsqueda -->
  <div class="row mb-3">
    <div class="col-md-6">
      <br>
      <label for="filtro" class="form-label" style="font-family: Arial, sans-serif;">Filtrar por:</label>
      <select class="form-select">
        <option selected>Escoge el tipo de Filtrado</option>
        <option>Nombre</option>
        <option>Código Cliente</option>
        <option>Código Persona</option>
        <option>Número de documento</option>
        <!-- Agrega más opciones de filtrado según sea necesario -->
      </select>
    </div>
    <div class="col-md-6">
      <br>
      <label for="buscar" class="form-label" style="font-family: Arial, sans-serif;">Ingrese los datos:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="buscar">
        <button class="btn btn-primary" type="button">Buscar</button>
      </div>
    
  </div>
</div>
<div *ngIf="clientesConPersona.length > 0" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Cliente</th>
        <th>Código Cliente</th>
        <th>ID Persona</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Tipo Documento</th>
        <th>Número Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientesConPersona">
        <td>{{ cliente.idCliente }}</td>
        <td>{{ cliente.codigoCliente }}</td>
        <td>{{ cliente.idPersona }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellidoPaterno }}</td>
        <td>{{ cliente.apellidoMaterno }}</td>
        <td>{{ cliente.tipoDocumento }}</td>
        <td>{{ cliente.numeroDocumento }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="clientesConPersona.length === 0">
  <p>No se encontraron clientes.</p>
</div>
