<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
</div>

<div class="modal-body">
  <form [formGroup]="myForm">
    <div class="row">
      <!-- Tipo y Número de Documento con botón de búsqueda -->
      <div class="col-6 mt-3">
      <div class="form-group">
        <label for="tipoDocumento">Tipo de Documento</label>
        <select formControlName="tipoDocumento" class="form-control" id="tipoDocumento">
          <option value="" disabled selected>Seleccione</option>
          <option value="dni">DNI</option>
          <option value="ruc">RUC</option>
        </select>
      </div>
    </div>

      <div class="col-6 mt-3 d-flex align-items-end">
        <div class="input-group">
          <input formControlName="numeroDocumento" type="text" class="form-control" placeholder="Ej: 77014012">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary btn-sm" (click)="buscarPorDocumento()">Buscar</button>
          </div>
        </div>
      </div>

      <!-- Datos autocompletables -->
      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre">
          <small class="text-danger" *ngIf="myForm.get('nombre')?.hasError('required') && myForm.get('nombre')?.touched">
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-6 mt-3">
        <div class="form-group">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="Ingrese el apellido paterno">
        </div>
      </div>

      <div class="col-6 mt-3">
        <div class="form-group">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="Ingrese el apellido materno">
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="correo">Correo</label>
          <input formControlName="correo" type="text" class="form-control" id="correo" placeholder="Ingrese el correo">
          <small class="text-danger" *ngIf="myForm.get('correo')?.hasError('email') && myForm.get('correo')?.touched">
            No cumple con el formato de correo
          </small>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input
            formControlName="telefono"
            type="text"
            class="form-control"
            id="telefono"
            maxlength="9"
            placeholder="Ingrese el número de teléfono"
            (keypress)="soloNumeros($event)"
          >
          <small class="text-danger" *ngIf="myForm.get('telefono')?.hasError('pattern') && myForm.get('telefono')?.touched">
            Solo se permiten números
          </small>
          <small class="text-danger" *ngIf="myForm.get('telefono')?.hasError('maxlength') && myForm.get('telefono')?.touched">
            Máximo 9 dígitos permitidos
          </small>

        </div>
      </div>

      <!-- Botones -->
      <div class="col-6 mt-4">
        <button [disabled]="!myForm.valid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">GUARDAR</button>
      </div>

      <div class="col-6 mt-4">
        <button class="btn-block btn btn-danger btn-sm" (click)="cerrarModal(false)">CANCELAR</button>
      </div>
    </div>
  </form>
</div>
