<div class="container-fluid px-4 mt-5">
  <div class="card bg-light mb-3">
    <div class="card-header text-center">
      <h1 class="mt-4">USUARIOS</h1>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>idUsuario</th>
            <th>username</th>
            <th>password P</th>
            <th>cargo M</th>
            <th>estado M</th>
            <th>
              <button (click)="crearUsuario(modalEdit)" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios ">
            
            <td>{{ usuario.idUsuario}}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.password }}</td>
            <td>{{ usuario.cargo }}</td>
            <td>{{ usuario.estado }}</td>
            <!-- <td>{{ usuario.idPersona}}</td> -->

            <td>
              <button (click)="editarUsuario(modalEdit,usuario)" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </button>
                
              <button (click)="eliminarRegistro(usuario.idUsuario)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav *ngIf="paginas.length > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="paginaActual === 1">
      <a class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</a>
    </li>

    <li class="page-item" *ngFor="let pagina of paginas"
        [class.active]="paginaActual === pagina">
      <a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a>
    </li>

    <li class="page-item" [class.disabled]="paginaActual === paginas.length">
      <a class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</a>
    </li>
  </ul>
</nav>

    </div>
  </div>
</div>


<ng-template #modalEdit>
<app-mant-usuario-register
  [title]="titleModal"  
  [usuario]="usuarioSelected"
  [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
></app-mant-usuario-register>
</ng-template>
