<div class="card bg-light mb-3">
  <div class="card-header text-center">
    <h1 class="mt-4">LISTADO DE PRODUCTOS :</h1>
  </div>  

  <form [formGroup]="filtroForm" (ngSubmit)="filtrarPorCategoriaYSubcategoria()">
    <div class="form-group">
      <label for="idCategoria">Filtrar por Categoría:</label>
      <select formControlName="idCategoria" class="form-control">
        <option value="">Seleccione una Categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
          {{ categoria.categoria1 }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="idSubcategoria">Filtrar por Subcategoría:</label>
      <select formControlName="idSubcategoria" class="form-control">
        <option value="">Seleccione una Subcategoría</option>
        <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">
          {{ subcategoria.descripcion }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Filtrar</button>
  </form>

  <div class="form-group">
    <label for="busqueda">Buscar por título:</label>
    <input type="text" class="form-control" id="busqueda" placeholder="Ingrese el título" (input)="buscarLibro($event)">
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>IdLibro</th>
        <th>Titulo</th>
        <th>Isbn</th>
        <th>Tamaño</th>
        <th>Descripción</th>
        <th>Condición</th>
        <th>Impresión</th>
        <th>Tipo Tapa</th>
        <th>Estado</th>
        <th>Subcategoría ID</th>
        <th>Categoría</th>
        <th>Tipo Papel ID</th>
        <th>Proveedor ID</th>
        <th>
          Acciones
          <button (click)="crearLibro(modalEdit)" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>Crear Libro
          </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let libro of (librosFiltrados ? librosFiltrados : libros)">
        <td>{{ libro.idLibro }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.isbn }}</td>
        <td>{{ libro.tamanno }}</td>
        <td>{{ libro.descripcion }}</td>
        <td>{{ libro.condicion }}</td>
        <td>{{ libro.impresion }}</td>
        <td>{{ libro.tipoTapa }}</td>
        <td>{{ libro.estado }}</td>
        <td>{{ libro.idSubcategoria }}</td>
        <td>{{ getDescripcionCategoria(libro.idSubcategoria) }}</td>
        <td>{{ libro.idTipoPapel }}</td>
        <td>{{ libro.idProveedor }}</td>
        <td>
          <button (click)="editarLibro(modalEdit, libro)" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="eliminarRegistro(libro.idLibro)" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="totalPages > 0" class="pagination-container">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="btn btn-primary me-2">
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class="btn btn-primary ms-2">
      Siguiente
    </button>
  </div>
  
  <ng-template #modalEdit>
    <app-mant-libro-register [title]="titleModal" [libro]="libroSelected" [accion]="accionModal"
      (closeModalEmmit)="getCloseModalEmmit($event)"></app-mant-libro-register>
  </ng-template>
</div>
