<div class="card bg-light mb-3">
  <div class="card-header text-center">
    <h1 class="mt-4">LISTADO DE PRODUCTOS :</h1>
  </div>  
  <form [formGroup]="filtroFormCategorias" (ngSubmit)="filtrarPorCategoria()">
    <div class="form-group">
      <label for="idSubcategoria">Filtrar por categoría:</label>
      <select formControlName="idSubcategoria" class="form-control" id="idSubcategoria">
        <option value="">Todas las categorías</option>
        <option value=1>Nivel Inicial</option>
        <option value=2>Nivel Primaria</option>
        <option value=3>Nivel Secundaria</option>
        <option value=4>PreUniversitarios</option>
        <option value=5>Universitarios</option>
        <option value=6>Agendas</option>
        <option value=7>Biblias</option>
        <option value=8>Cartillas</option>
        <option value=9>Cuadernos de Trabajo</option>
        <option value=10>Diccionarios</option>
        <option value=11>Enciclopedias</option>
        <option value=12>Literatura</option>
        <option value=13>Literatura Infantil</option>
        <option value=14>Literatura Juvenil</option>
        <option value=15>Superacion Personal y Emprendimiento</option>
        <option value=16>Comics y Mangas</option>
        <option value=17>Ciencia y Ficcion</option>
        <option value=18>Finanzas Personales</option>
        <option value=19>Negocios e Inversion</option>
        <option value=20>Tarjetas Lexicas</option>
        <option value=20>Miscelanea</option>
        <option value=20>Ofertas</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Filtrar por categoría</button>
</form>
<div class="form-group">
  <label for="busqueda">Buscar por título:</label>
  <input type="text" class="form-control" id="busqueda" placeholder="Ingrese el título" (input)="buscarLibro($event)">
</div>



  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>IdLibro</th>
        <th>Titulo</th>
        <th>Isbn P</th>
        <th>Tamano M</th>
        <th>Descripcion M</th>
        <th>Condicion</th>
        <th>Impresion</th>
        <th>TipoTapa</th>
        <th>Estado</th>
        <th>IdCategoria</th>
        <th>IdTipoPapel</th>
        <th>IdProveedor</th>
        <th>
          <button (click)="crearLibro(modalEdit)" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of (librosFiltrados ? librosFiltrados : libros)">
        <td>{{ libro.idLibro }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.isbn }}</td>
        <td>{{ libro.tamanno }}</td>
        <td>{{ libro.descripcion }}</td>
        <td>{{ libro.condicion }}</td>
        <td>{{ libro.impresion }}</td>
        <td>{{ libro.tipoTapa }}</td>
        <td>{{ libro.estadoDescripcion }}</td>
        <td>{{ libro.idSubcategoria }}</td>
        <td>{{ libro.idTipoPapel }}</td>
        <td>{{ libro.idProveedor }}</td>
        <td>
          <button (click)="editarLibro(modalEdit, libro)" class="btn btn-primary btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="eliminarRegistro(libro.idLibro)" class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #modalEdit>
    <app-mant-libro-register [title]="titleModal" [libro]="libroSelected" [accion]="accionModal"
      (closeModalEmmit)="getCloseModalEmmit($event)"></app-mant-libro-register>
  </ng-template>
</div>
