<p>welcome works!</p>
<div class="container">
    <h1>pagina no encontrada</h1>
    <!---
    <button class="btn btn-sm btn-primary">IR A : WELCOME</button>
    <button class="btn btn-sm btn-success">IR A : PRUEBAS</button>
    <button class="btn btn-sm btn-danger">IR A : NOT FOUND</button>
    <button class="btn btn-sm btn-warning">IR A : INICIAS SESION</button>
    -->
    <a routerLink="">Welcome</a>
    <a routerLink="/prueba"></a>
    <a routerLink="/404"></a>
    <a routerLink="/auth"></a>
</div> 