<p>welcome works!</p>
<div class="container">
    <h1>WELCOME</h1>
    <!---
    <button class="btn btn-sm btn-primary">IR A : WELCOME</button>
    <button class="btn btn-sm btn-success">IR A : PRUEBAS</button>
    <button class="btn btn-sm btn-danger">IR A : NOT FOUND</button>
    <button class="btn btn-sm btn-warning">IR A : INICIAS SESION</button>
    -->
    <a routerLink="">Welcome</a>
    <a routerLink="/pr">PRUBA</a>
    <a routerLink="/404">PAGE NO FON</a>
    <a routerLink="/auth">AUTH</a>
</div> 