@use '@angular/material' as mat; 
.autocomplete-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 0;
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    max-height: 150px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 0 .25rem .25rem;
  }
  
  .autocomplete-options a {
    padding: 10px;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
  }
  
  .autocomplete-options a:hover {
    background-color: #f8f9fa;
  }
  