<div class="sb-sidenav-menu">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="http://localhost:4200/dashboard">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> HOME PAGE
        </a>
        <div class="sb-sidenav-menu-heading">Interfaccce</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            MANTENIMIENTO
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['mantenimiento/persona']"> <i class="fas fa-edit"></i>Persona</a>
                <a class="nav-link" [routerLink]="['mantenimiento/genero']"> <i class="fas fa-edit"></i>Género</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
            aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Ventas
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['mantenimiento/libro']"> <i class="bi bi-basket2-fill"></i>Libros</a>
            </nav>
        </div>

        
         <div *ngFor="let d of menu">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="collapse"
                [attr.data-bs-target]="'#' + d.target"
                aria-expanded="false" aria-controls="collapselayouts">
                <div class="sb-nav-link-icon"><i class="{{d.icon}}"></i></div>
                {{d.name}}
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div *ngFor="let x of d.subMenu" class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" [routerLink]="[x.url]"> <i class="fas fa-edit"></i>{{ x.name }}</a>
                </nav>
            </div>
        </div> 
    </div>