<div class="sb-sidenav-menu">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" href="http://localhost:4200/dashboard">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> HOME PAGE
        </a>
        <div class="sb-sidenav-menu-heading">Interfaccce</div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseMantenimiento"
            aria-expanded="false" aria-controls="collapseMantenimiento">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            MANTENIMIENTO
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseMantenimiento" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['mantenimiento/persona']"> <i class="fas fa-edit"></i>Persona</a>
                <a class="nav-link" [routerLink]="['mantenimiento/genero']"> <i class="fas fa-edit"></i>Genero</a>
                <a class="nav-link" [routerLink]="['mantenimiento/cliente']"> <i class="fas fa-edit"></i>Cliemte</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseVentas"
            aria-expanded="false" aria-controls="collapseVentas">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Productos
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseVentas" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['mantenimiento/libro']"> <i class="bi bi-basket2-fill"></i>Libros</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseInventario"
            aria-expanded="false" aria-controls="collapseInventario">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Inventario
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseInventario" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['mantenimiento/reporte-inventario']"> <i class="bi bi-basket2-fill"></i>Reporte Inventario</a>
            </nav>
        </div>
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOtro"
            aria-expanded="false" aria-controls="collapseOtro">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Ventas
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseOtro" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['ventas/venta']"> <i class="bi bi-basket2-fill"></i>Venta</a>
            </nav>
        </div>
        <div class="collapse" id="collapseOtro" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['ventas/mant-venta-registerr']"> <i class="bi bi-basket2-fill"></i>Listado de para hacer ventas</a>
            </nav>
        </div>
        <div class="collapse" id="collapseOtro" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" [routerLink]="['ventas/mant-venta-registred']"> <i class="bi bi-basket2-fill"></i>Forulario para ventas</a>
            </nav>
        </div>

    </div>
</div>
