<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <!-- Agrega el atributo (click) para cerrar el modal -->
  </div>
  
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="id">ID</label>
            <input formControlName="idPersona" type="text" class="form-control" id="id" placeholder="Ingrese el Identificador">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre">
          </div>
          <div *ngIf="myForm.get('nombre')?.errors && myForm.touched">
            //no olvidar agregar el small igneroe
            <span class="text-danger" *ngIf="myForm.get('nombre')?.hasError('required')">Campo requerido</span>
          </div>
          
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="apellidoPaterno">Apellido P</label>
            <input formControlName="apellidoPaterno" type="text" class="form-control" id="apellidoPaterno" placeholder="Ingrese el apellido paterno">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="apellidoMaterno">Apellido M</label>
            <input formControlName="apellidoMaterno" type="text" class="form-control" id="apellidoMaterno" placeholder="Ingrese el apellido materno">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="correo">Correo</label>
            <input formControlName="correo" type="text" class="form-control" id="correo" placeholder="Ingrese el correo">
          </div>
          <div class="col-12 mt-3">
            <!-- Corrige la condición para verificar errores y si el formulario ha sido tocado -->
            <div *ngIf="myForm.get('correo')?.errors && myForm.get('correo')?.touched">
              <span class="text-danger" *ngIf="myForm.get('correo')?.hasError('email')">No cumple con el formato de correo</span>
            </div>
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="tipoDocumento">Tipo de Documento</label>
            <input formControlName="tipoDocumento" type="text" class="form-control" id="tipoDocumento" placeholder="Ingrese el tipo de documento">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="numeroDocumento">Número de Documento</label>
            <input formControlName="numeroDocumento" type="text" class="form-control" id="numeroDocumento" placeholder="Ingrese el número de documento">
          </div>
        </div>
  
        <div class="col-12 mt-3">
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input formControlName="telefono" type="text" class="form-control" id="telefono" placeholder="Ingrese el número de teléfono">
          </div>
        </div>
  
        <!-- Botones para GUARDAR y CANCELAR -->
        <div class="col-6 mt-3">
          <!-- Asegúrate de que la función se llame correctamente en el evento (click) -->
          <button [disabled]="!myForm.valid" (click)="guardar()" class="btn-block btn btn-primary btn-sm">GUARDAR</button>
        </div>
  
        <div class="col-6 mt-3">
          <button class="btn-block btn btn-danger btn-sm">CANCELAR</button>
        </div>
      </div>
  </div>
  