<section class="vh-100 gradient-custom" style="background-image: url(./../../../../../assets/imagenes/fondo.jpg); filter: brightness(100%) saturate(100%); background-repeat: repeat;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-primary" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center"> <!-- Reducir el padding -->
            <img src="assets/imagenes/lib_saber.jpg" alt="Imagen" class="img-fluid mb-4" style="filter: brightness(80%); width: 300px; height: auto;"> <!-- Aumentar el tamaño de la imagen -->
            <!-- <h2 class="fw-bold mb-4 text-uppercase" style="font-size: 2rem;">Login</h2> Aumentar el tamaño del encabezado -->
            <p class="text-white-50 mb-4" style="font-size: 1.5rem;">Ingresa a tu cuenta:</p> <!-- Aumentar el tamaño del texto -->
            
            <form [formGroup]="loginForm" (ngSubmit)="login()" style="font-size: 1.2rem;"> <!-- Aumentar el tamaño del texto del formulario -->
              <div class="form-outline form-white mb-4 d-flex flex-column align-items-start"> <!-- Contenedor para Username -->
                <label class="form-label mb-1" for="username">Username</label> <!-- Etiqueta del campo Username -->
                <input formControlName="username" id="Username" class="form-control form-control-lg"/> <!-- Cambiar a form-control-lg para aumentar el tamaño del campo de entrada -->
              </div>

              <div class="form-outline form-white mb-3 d-flex flex-column align-items-start"> <!-- Contenedor para Password -->
                <label class="form-label mb-1" for="password">Password</label> <!-- Etiqueta del campo Password -->
                <input formControlName="password" id="password" class="form-control form-control-lg"  type="password"/> <!-- Campo de entrada para Password -->
              </div>

              <p class="small mb-3"><a class="text-white-50" href="#!" style="font-size: 1rem;">Forgot password?</a></p> <!-- Aumentar el tamaño del texto -->

              <button [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button> <!-- Cambiar a btn-lg para aumentar el tamaño del botón -->

              <div class="d-flex justify-content-center text-center mt-4"> <!-- Aumentar el margen y espacio entre los iconos -->
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a> <!-- Aumentar el espacio entre los iconos -->
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>
            </form>

            <div>
              <p class="mb-0" style="font-size: 1rem;">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p> <!-- Aumentar el tamaño del texto -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
