<form [formGroup]="updateForm" class="container mt-4">
    <div class="mb-3">
      <label for="saldoInicial" class="form-label">Saldo Inicial</label>
      <input formControlName="saldoInicial" type="number" id="saldoInicial" class="form-control" placeholder="Saldo Inicial">
    </div>
  
    <div class="mb-3">
      <label for="saldoFinal" class="form-label">Saldo Final</label>
      <input formControlName="saldoFinal" type="number" id="saldoFinal" class="form-control" placeholder="Saldo Final">
    </div>
  
    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha</label>
      <input formControlName="fecha" type="datetime-local" id="fecha" class="form-control">
    </div>
  
    <div class="mb-3">
      <label for="retiroDeCaja" class="form-label">Retiro de Caja</label>
      <input formControlName="retiroDeCaja" type="number" id="retiroDeCaja" class="form-control" placeholder="Retiro de Caja">
    </div>
  
    <div class="mb-3">
      <label for="ingresosACaja" class="form-label">Ingresos a Caja</label>
      <input formControlName="ingresosACaja" type="number" id="ingresosACaja" class="form-control" placeholder="Ingresos a Caja">
    </div>
  
    <button type="button" (click)="crearCaja()" [disabled]="!updateForm.valid" class="btn btn-success">Crear Caja</button>
  </form>
  