.custom-toolbar {
    background-color: cyan;
    color: white;
  }
  
  .mat-toolbar a {
    color: white;
    text-decoration: none;
  }
  
  .example-spacer {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  table {
      width: 100%;
    }
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }

    
  