<router-outlet></router-outlet>


<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    

    <span>LIBRERIA SABER</span>
    <span class="example-spacer"></span>
    <a routerLink="/home">Inicio</a>
    <span class="example-spacer"></span>
    <a routerLink="/autor">Autor</a>
    <span class="example-spacer"></span>
    <a routerLink="/categoria">Categoria</a>
  </mat-toolbar>

</p>
<img src="assets/imagenes/libSaber.png" alt="Imagen Librería Saber" style="width: 100%; height: auto;">






