.mat-toolbar a {
    color: white;
    text-decoration: none; /* Eliminar la línea debajo del enlace */
  }
  
.example-spacer {
    margin-left: 10px; /* Puedes ajustar el valor según tus preferencias */
    margin-right: 10px; /* Puedes ajustar el valor según tus preferencias */
  }