<!-- ==============================
     template.component.html
     ============================== -->
<!-- start header -->
<app-template-header></app-template-header>
<!-- end header -->
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <!-- inicio menu lateral -->
      <div class="sb-sidenav-menu">
        <app-template-sidebar></app-template-sidebar> 
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Inicio sesión en:</div>
        Libreria Saber como Administrador 
      </div>
      <!-- fin menu lateral -->
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
    <div class="main-content-container">
      <router-outlet></router-outlet>
    </div>
  </main>

    <app-template-footer></app-template-footer>
  </div>
</div>
